# ignore specific folders
# save/
# load/

.testing/**

# Ignore specific file extensions
*.pkl
*.png
*.jpg

# Ignore pycache folders.
*/ann/utilities/__pycache__
*/snn/utilities/__pycache__
**/*.pyc
