# ignore specific folders
# save/
# load/
*/ann/*/save/run*
*/ann/*/save/grid_search*

.testing/**

# Ignore specific file extensions
*.pkl
*.png
*.jpg

# Ignore pycache folders.
*/ann/utilities/__pycache__
*/snn/utilities/__pycache__
**/*.pyc
.DS_Store
